
/* HOME PAGE STYLING STARTS */

body{
    background-color: #F6F5F7;
}

/* HOME SECTION */
#home-div{
    background-image: url(../images/fruitty\ background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
#home-div a:hover{
    color:#F18023;
}
.second-nav ul{
    display: flex !important;
    flex-direction: column !important;
    
}
.second-nav ul li a{
    margin-left: 30px !important;
}
.home-section a{
    color: #fff;
}
.home-section .dropdown-menu a{
    color: #000;
}
.home-writeUp{
    margin-bottom: 300px;
}
.home-writeUp h5{
    color: #0000FF;
    margin-bottom: 10px;
}
#text-container{
    margin-bottom: 40px;
}
.home-writeUp h1{
    font-size: 70px;
    color: #FFA500;
}
.home-writeUp .btn1{
    background-color: #0000FF;
    border: 0.5px #0000FF;
    color: #fff;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;   
}
.home-writeUp .btn1:hover{
    background-color: #051922;
    color: #F28123;
}
.home-writeUp .btn2{
    border: 2px #0000FF solid;
    color: #000;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.home-writeUp .btn2:hover{
    background-color: #F28123;
    color: #fff;
}
.home-writeUp #btn-div{
    gap: 10px;
}
/* HOME ENDS */


/* SERVICES SECTION STARTS */
.Services-section #services-container{
    margin-top: 100px;
    margin-bottom: 200px;
}
.Services-section #row-div{
    gap: 20px;
}
.Services-section #services{
    display: flex;
}
.Services-section .icon-div{
    margin-right: 20px;
    border: 2px dotted #F18023;
    border-radius: 50%;
    padding: 25px;
    color: #F18023;
}
/* SERVICES SECTION ENDS */


/* PRODUCT SECTION STARTS */
.product-section{
    margin-bottom: 200px;
}
.product-section h1 span{
    color: #0000FF;
}
.product-section hr{
    width: 50px;
    height: 1.5px;
    background-color: #0000FF;
}
.product-section p{
    margin-bottom: 70px;
}
.product-section .btn{
    background-color: #0000FF;
    border: 0.5px #0000FF;
    color: #fff;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out; 
    margin: 20px 0;
}
.product-section .btn:hover{
    background-color: #051922;
    color: #F28123;
}
.product-section #card-container .card{
    box-shadow: 0 0 15px 1px grey;

}
.product-section #card-container{
    gap: 40px;
}
/* PRODUCT SECTION ENDS */


/* DEAL SECTION STARTS */

#deal-container{
    margin-top: 150px !important;
    margin-bottom: 200px !important;
}

#deal-container #row{
    gap: 70px;
}

/* cycle area */
.first-cycle{
    border: 1px solid #F29D57;
    background-color: #F29D57;
    padding: 5px;
    border-radius: 50%;
    width: fit-content;
}
.second-cycle{
    border: 1px solid #F28123;
    background-color: #F28123;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
}
.second-cycle span{
    font-weight: 700;
    font-size: x-large;
}


/* deal area */
.deal-div{
    text-align: left;
    margin: auto;
}
.deal-div h1{
    font-weight: 700;
}
.deal-div h1 span{
    color: #0000FF;
}
.deal-div p{
    color: #782DDC;
}
.deal-div h5{
    margin-bottom: 30px;
}
.countDown-div{
    display: flex;
    gap: 10px;
    margin: 30px 0;
}
.countDown-div .count{
    border:2px solid #0000FF;
    width: 70px;
    height: 90px;
    text-align: center;
    padding-top: 5px;
}
.countDown-div .count span{
    font-size: xx-large;
    color: #0000FF;
    font-weight: 700;
}
.countDown-div .count p{
    color: #0000FF;
}
.deal-div button{
    background-color: #0000FF;
    border: 0.5px #0000FF;
    color: #fff;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.deal-div button:hover{
    background-color: #051922;
    color: #F28123;
}
.deal-div button i{
    margin-right: 10px;
}

/* DEAL SECTION ENDS */


/* CAROUSEL SCETION STARTS */

#carousel-container{
    margin-top: 150px !important;
    margin-bottom: 200px !important;
}
#carousel-container .img-div{
    width: 400px ;
    /* height: 200px; */
    margin: auto;
    margin-bottom: 50px;
    /* background-color: #0000FF; */

}
#carousel-container p,
#carousel-container q{
    color: grey;
}

/* CAROUSEL SCETION ENDS */

/* ABOUT SECTION STYLING STARTS */
#about-container{
    margin-top: 150px !important;
    margin-bottom: 200px !important;
}
.video-div{
    width: 470px;
    height: 370px;
    background-color: #ADB3B6;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.video-div a .vid{
  position: relative; 
  top: 130px;
  background-color: #0000FF;
  width: 100px;
  height: 100px;  
  margin-top: 100px;
  margin: auto;
  border-radius: 50%;
  padding-top: 35px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.video-div a .vid:hover{
    background-color: #051922;
    color: #F28123;
}
.about-div{
    text-align: left;
    gap: 20px;
}
.about-div h1{
    margin-bottom: 10px;
}
.about-div h1 span{
    font-size: xx-large;
    color: #0000FF;
    font-weight: 700;
}
.about-div button{
    background-color: #0000FF;
    color: #fff;
    width: 130px;
    padding: 8px;
    border-radius: 50px;
    border: 0.5px #0000FF;
    transition: all 0.3s ease-in-out;
}
.about-div button:hover{
    background-color: #051922;
    color: #F28123;
}

/* ABOUT SECTION STYLING ENDS */


/* SHOP SECTION STARTS */
#shop-container{
    margin-top: 200px !important;
    margin-bottom: 200px !important;
    margin: auto;
}
.shop-div{
 text-align: left;
 margin-left: 20px;
}
.shop-div h1{
    font-weight: 800;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.shop-div h1 span{
    color: #0000FF;
    font-weight: 800;
    font-size: 60px;
}
.shop-div .shop-writeUp{
    display: flex;
}
.shop-writeUp span{
    /* margin: 5px; */
    color: #0000FF;
    font-weight: 700;
    font-size: 50px;
}
.shop-writeUp p{
    font-size: larger;
    font-weight: bold;
}

.shop-writeUp .sales-p{
    margin-top: 5px;
}
.shop-writeUp .off-p{
    margin-top: 36px;
}
.shop-div button{
    background-color: #0000FF;
    color: #fff;
    width: 130px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: 0.5px #0000FF;
}
.shop-div button:hover{
    background-color: #051922;
    color: #F28123;
}

/* SHOP SECTION ENDS */


/* NEWS SECTION STYLING STARTS */
#news-container{
    margin-top: 150px !important;
    margin-bottom: 200px !important;
}
.news-div{
    margin-top: 50px;
}
.news-div .news-header-text{
    margin-bottom: 70px;
}
.news-div .news-header-text h1 span{
    color: #0000FF;
}
.news-div .news-header-text hr{
    width: 50px;
    height: 1.5px;
    background-color: #0000FF;
    
}
.card-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#card{
    box-shadow: 0 0 15px 1px grey;
}
.news-div .btn{
    background-color: #0000FF;
    color: #fff;
    width: 130px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: 0.5px #0000FF;
    margin-top: 100px;
}
.news-div .btn:hover{
    background-color: #051922;
    color: #F28123;
}
#card:hover {
    background: rgb(0, 0, 255,0.05);
    cursor: pointer;
}
#card a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
#card .card-body h5{
    font-weight: bold;
}
#card .card-body{
    margin-top: 200px;
}
#card .card-text{
    color: grey;
    margin-bottom: 20px;
}
#card .card-body .card-small-text{
    margin-bottom: 20px;
}
#card .card-body small{
    color: grey;
}

/* NEWS SECTION STYLING ENDS */


/* CONTACT SECTION STARTS */

.contact-div{
    background-color: #B0B0F1;
    padding: 2px;
    border-bottom: 1px solid #0000FF;
}
.contact-div .parent-div #row{
    gap: 35px;
}
.contact-div .parent-div h4{
    color: #0000FF;
    margin-bottom: 25px;
}
.contact-div .parent-div .hr{
    width: 25px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #0000FF;
}

.contact-div .parent-div .contact-first-p,
.contact-div .parent-div .contact-third-p{
    color: #fff;
    margin-bottom: 20px;
}

.contact-div .parent-div .contact-second-p{
    color: #0000FF;
}
.contact-div .parent-div .input-div{
    display: flex;
}
.contact-div .parent-div input{
    height: 50px;
    padding: 6px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #DFD5D5;
    border: 1px #DFD5D5 solid;
}
.contact-div .parent-div .input-div .icon-btn{
    background-color: #fff;
    height: 50px;
    width: 50px;
    padding: 6px;
    margin-left: 5px;
    border-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-div .parent-div .input-div .icon-btn i{
    margin-top: 5px;
}
/* CONTACT SECTION ENDS */


/* FOOTER STYLINGS STARTS */
.footer-section footer{
    padding: 15px;
}
.footer-section footer p{
    margin: auto;
    color: #4C4CFF;
}
/* FOOTER STYLINGS ENDS */







/* MEDIA QUERY */
@media screen and (max-width: 714px){
    /* home */

    .home-writeUp h1{
        font-size: 40px;
        color: #FFA500;
    }

    /* About */
    .shop-div h1{
        font-weight: 700;
        font-size: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .shop-div h1 span{
        color: #0000FF;
        font-weight: 700;
        font-size: 40px;
    }

    /* card */
    .card-div{
      display: flex;
      flex-direction: column;
     
    }
}
/* HOME PAGE STYLING ENDS */



/* ================ PAYMENT PAGE STYLING STARTS =================*/

.home-div{
    background-image: url(../images/fruitty\ background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 10px 0;
}

.home-writeUp{
    margin-bottom: 200px;
    margin-top: 0;
}
.home-writeUp h5{
    color: #0000FF;
    margin-bottom: 10px;
}
#text-container{
    margin-bottom: 40px;
}
.home-writeUp h1{
    font-size: 70px;
    color: #FFA500;
}

.home-writeUp .btn1{
    background-color: #0000FF;
    border: 0.5px #0000FF;
    color: #fff;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;   
}
.home-writeUp .btn1:hover{
    background-color: #051922;
    color: #F28123;
}
.home-writeUp .btn2{
    border: 2px #0000FF solid;
    color: #000;
    width: 150px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.home-writeUp .btn2:hover{
    background-color: #F28123;
    color: #fff;
}
.home-writeUp #btn-div{
    gap: 10px;
}


.payment-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.payment-section .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}
.payment-section .address-div{
    gap: 50px;
}
.payment-section .address-div button{
    width: 100%;
    height: 50px;
    text-align: left;
    border: 2px #F1EFF1 solid !important;
    font-weight: bold;
}
.payment-section .address-div button i{
    border-radius: 50% !important;
    color: #0B00FF;
    margin: 0 5px;
}
.payment-section .address-div .collapse .card-body{
    background-color: #fff;
}
.payment-section .address-div .collapse #card-body{
    padding: 30px;
}
.payment-section .address-div input{
    height: 50px !important;
}
.payment-section .address-div textarea{
    width: 100%;
}

.payment-section table{
    width: 80% !important;  
}
.payment-section table thead{
    background-color: #F1EFF1;
}
.payment-section table tr{
    color: #6D46D2;
}

.payment-section .order-details-div button{
    background-color: #0000FF;
    color: #fff;
    width: 130px;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: 0.5px #0000FF;
}

.payment-section .order-details-div button:hover{
    background-color: #051922;
    color: #F28123;
}





@media screen and (max-width: 714px){

    .payment-section .wrapper{
        display: flex;
        flex-direction: column;
    }

    .home-writeUp h1{
        font-size: 50px;
    }
    .home-writeUp #btn-div{
       display: flex;
       flex-direction: column;
       align-items: center;   
    }
}


/* PAYMENT PAGE STYLING ENDS */


/* =============== CONTACT PAGE STYLINGS STARTS ============== */

.message-section .wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.message-section .wrapper .message-div h2{
    margin-bottom: 20px;
}
.message-section .wrapper form input{
    padding-right: 105px;
    height: 50px;
    margin-top: 10px;
}
.message-section .wrapper form textarea{
    height: 200px;
    margin-top: 10px;

}
.message-section .wrapper form button{
    border-radius: 50px;
    border-color: #F18023;
    width: 100px;
    padding: 10px;
    background-color: #F18023;
    color: #000;
    font-weight: bold;
}

.message-section .wrapper .address-div{
    background-color: #fff;
    width: 80%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px grey;
}
.message-section .wrapper .address-div .parent{
    margin-right: 50px;
    margin-top: 20px;
}
.message-section .wrapper .address-div .parent i{
    color: blue;
}
.message-section .wrapper .address-div .parent i{
    align-items: center;
    margin:5px 10px;
}


/* MEDIA QUERRY */

@media screen and (max-width: 714px){

    .message-section .wrapper{
        display: flex;
        flex-direction: column;
    }


    .message-section .wrapper .address-div{
        width: 70%;
        height: 450px;
    }

    .message-section .wrapper .address-div .parent{
        padding:10px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 280px){
    .message-section .wrapper .address-div{
        width: 70%;
        height: 550px;
    }

    .message-section .wrapper .address-div .parent{
        /* padding:10px; */
        margin-top: 40px;
    }
}

/* =============== CONTACT PAGE STYLINGS ENDS ============== */


/* ============ ORDER PAGE STARTS =============== */

/* EXCELLENT */

.img1{
    width: 50px;
    height: 50px;
}

.img2{
    width: 50px;
    height: 50px;
}

.img3{
    width: 50px;
    height: 50px;
}

/* ================ OREDR PAGE ENDS  =========== */